// @import '../../../../../../libs/common/src/style/theming.scss';
$gray-100: rgba(0, 0, 0, 0.1);
$primary: blue;

:host ::ng-deep {
  .ant-carousel {
    .slick-dots {
      bottom: -10px;
      button {
        background: $gray-100;
      }
      .slick-active button {
        background: $primary;
      }
    }
  }
}
