<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" mlForm="1" labelWidth="100">
    <nz-alert
      class="pb-lg"
      [nzMessage]="'确认转账后，资金将直接打入对方账户，无法退回。'"
      [nzShowIcon]="true"
      [nzCloseable]="true"
    ></nz-alert>
    <ml-form-item label="付款账户">{{ item.pay_account }}</ml-form-item>
    <ml-form-item label="账户类型">{{ item.receiver_type === 'alipay' ? '支付宝' : '银行' }}</ml-form-item>
    <ml-form-item label="收款账户">{{ item.receiver_account }}</ml-form-item>
    <ml-form-item label="收款人姓名">{{ item.receiver_name }}</ml-form-item>
    <ml-form-item label="转账金额">
      <strong class="text-lg">{{ item.amount }}</strong>
    </ml-form-item>
    <ml-form-item label="支付密码" required error="至少6位数以上" class="border-top-1 pt-lg">
      <input nz-input formControlName="password" type="password" />
    </ml-form-item>
    <ml-form-item>
      <button nz-button [nzType]="'primary'" [nzLoading]="loading" [disabled]="form.invalid">提交</button>
      <button nz-button (click)="prev()">上一步</button>
    </ml-form-item>
  </form>
  