<h2>Basic DataGrid</h2>
<ml-datagrid [data]="data" style="height:250px">
  <ml-grid-column field="itemid" title="Item ID"></ml-grid-column>
  <ml-grid-column field="name" title="Name"></ml-grid-column>
  <ml-grid-column field="listprice" title="List Price" align="right"></ml-grid-column>
  <ml-grid-column field="unitcost" title="Unit Cost" align="right"></ml-grid-column>
  <ml-grid-column field="attr" title="Attribute" width="30%"></ml-grid-column>
  <ml-grid-column field="status" title="Status" align="center"></ml-grid-column>
</ml-datagrid>