<div class="footer">
  <div class="container footer__container">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzLg="6">
        <h2>资源</h2>
        <ul>
          <li>
            <a href="">Github</a>
          </li>
        </ul>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzLg="6">
        <h2>帮助</h2>
        <ul>
          <li>
            <a href="">Github</a>
          </li>
        </ul>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzLg="8">
        <h2>社区</h2>
        <ul>
          <li>
            <a href="">Github</a>
          </li>
        </ul>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzLg="4">
        <h2>更多</h2>
        <ul>
          <li>
            <a href="">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer__copyright">
  <p>Super-powered by <a href="http://www.tonyeen.me">Tony</a> ©2010-2019. 代码授权方式：MIT-style License. 文档授权方式：CC BY 4.0.
  </p>
  <p>当前版本：8.1.0-build.123+sha.bbbea83.</p>
</div>