<h1>Page Header</h1>
<p>
  ng-zorro-antd 已有相应的实现，参见： <a href="https://ng.ant.design/components/page-header/zh" target="_blank">NzPageHeaderModule</a>
</p>

<h2>Structure 基本结构</h2>
<hr>
<p>基本结构，具备响应式布局功能，主要断点为 768px 和 576px，拖动窗口改变大小试试看。</p>
<dev-page-header-structure-demo></dev-page-header-structure-demo>

<h2>Simple</h2>
<hr>
<dev-page-header-simple-demo></dev-page-header-simple-demo>


<h2>Standard</h2>
<hr>
<dev-page-header-standard-demo></dev-page-header-standard-demo>


<h2>Image</h2>
<hr>
<dev-page-header-image-demo></dev-page-header-image-demo>