
section.article {
  padding-left: 16px;
  padding-right: 240px;

  .asciidoctor ::ng-deep {

    h1 {
      margin-top: 0;
    }
    
    #toc {
      position: sticky;
      top: 0px;
      float: right;
      width: 200px;
      margin-right: -240px;
    }
  }
}
