
<h1>Avatar List Demos</h1>


<h2>Simple Demo</h2>

<ml-avatar-list size="small">
  <ml-avatar-list-item tips="Jake" src="https://gw.alipayobjects.com/zos/rmsportal/zOsKZmFRdUtvpqCImOVY.png">
  </ml-avatar-list-item>
  <ml-avatar-list-item tips="Andy" src="https://gw.alipayobjects.com/zos/rmsportal/sfjbOqnsXXJgNCjCzDBL.png">
  </ml-avatar-list-item>
  <ml-avatar-list-item tips="Niko" src="https://gw.alipayobjects.com/zos/rmsportal/kZzEzemZyKLKFsojXItE.png">
  </ml-avatar-list-item>
  <ml-avatar-list-item tips="Cipchk" text="Cipchk"></ml-avatar-list-item>
  <ml-avatar-list-item tips="heart-o" icon="heart-o"></ml-avatar-list-item>
</ml-avatar-list>

<hr>

<h2>Set Max Display Length</h2>

<ml-avatar-list size="mini" shape="square" maxLength="3" [excessItemsStyle]="{ color: '#f56a00', backgroundColor: '#fde3cf' }">
    <ml-avatar-list-item tips="Jake" src="https://gw.alipayobjects.com/zos/rmsportal/zOsKZmFRdUtvpqCImOVY.png">
    </ml-avatar-list-item>
    <ml-avatar-list-item tips="Andy" src="https://gw.alipayobjects.com/zos/rmsportal/sfjbOqnsXXJgNCjCzDBL.png">
    </ml-avatar-list-item>
    <ml-avatar-list-item tips="Niko" src="https://gw.alipayobjects.com/zos/rmsportal/kZzEzemZyKLKFsojXItE.png">
    </ml-avatar-list-item>
    <ml-avatar-list-item tips="Cipchk" text="Cipchk"></ml-avatar-list-item>
    <ml-avatar-list-item tips="heart-o" icon="heart-o"></ml-avatar-list-item>
  </ml-avatar-list>