nz-page-header {
    margin-top: -32px;
    margin-left: -32px;
    margin-right: -32px;
}

.advance-search-form {
    // transition: all 5s;

    .ant-form-item {
        margin-bottom: 12px;
    }

    .ant-form-item-label {
        width: 6rem;
        text-align: left;
    }

    .ant-form-item-control-wrapper {
        // width: 100%;
        flex: 1;
    }
}